body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

.wrapperDiv {
  width: 85%;
  margin-left: 14%;
}
li {
  cursor: pointer;
}

.navbar-brand {
  width: 7%;
}

.Line-height-card {
  line-height: 40px;
}

.layout-fixed .main-sidebar {
  background: #f5f5f5 !important;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color: #0a64be !important;
  color: #ffffff !important;
}

.nav-sidebar > .nav-item {
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar span {
    text-align: center;
    float: none;
  }
}

.brand-link .brand-image {
  float: left;
  line-height: 0.8;
  margin: 0 !important;
  max-height: 50px !important;
  width: 100%;
}

.bgcolor {
  background-color: 	#fafafc !important;
  color: #5c5959 !important;
  border: 0px solid;
  padding: 10px;
  box-shadow: 15px 10px;
}

table th {
  padding: 0.25rem !important;
}

.navbar-nav-modal span {
  color: rgb(68 67 67) !important;
  font-size: 13px;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  #navbarNavAltMarkup {
    display: block !important;
  }
}
